@use '@styles/variables' as *;

.card {
  width: 202px;
  height: 432px;
  border-radius: 10px;
  padding: 20px 20px 8px 20px;

  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    .favorite {
      opacity: 1;
    }
  }
}

.cover {
  position: relative;
  width: 202px;
  height: 304px;

  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.coverLink {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.favorite {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 2;

  display: flex;
  width: 26px;
  height: 26px;
  background: none;

  background: (144, 144, 144, 0.4);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  clip-path: path(
    'M23.8334 9.60074C23.8334 11.2761 23.1901 12.8853 22.0413 14.0756C19.397 16.8166 16.8322 19.6747 14.0891 22.3163C13.4603 22.913 12.4629 22.8913 11.8612 22.2676L3.95826 14.0756C1.5695 11.5995 1.5695 7.602 3.95826 5.12587C6.37049 2.6254 10.3003 2.6254 12.7125 5.12587L12.9998 5.42362L13.2869 5.12604C14.4434 3.92654 16.0186 3.25 17.6641 3.25C19.3096 3.25 20.8846 3.92648 22.0413 5.12587C23.1902 6.31632 23.8334 7.92542 23.8334 9.60074Z'
  );

  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;

  height: 40px;
  margin-top: 8px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  a {
    color: $text-heading;
  }
}

.author {
  font-size: 14px;
  font-weight: 500;

  margin-top: 8px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: $text-accent;
}

.location {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 14px;
  font-weight: 400;

  margin-top: 12px;

  color: $text-secondary;
}
