@use '@styles/variables' as *;

.button {
  display: flex;
  width: 26px;
  height: 26px;
  background: none;
  color: $text-muted;
  cursor: pointer;
}

.button path {
  fill: currentColor;
  stroke: $background-primary;
  stroke-width: 1.5;
}

.button[aria-pressed='true'] {
  color: $color-primary;
}
