.titleOneScreen {
	margin-bottom: 38px;
	width: 300px;

	font-family: 'Onest-SemiBold', sans-serif;
	color: var(--ant-color-text-placeholder);
	font-size: 24px;

	span {
		color: var(--ant-color-text-base);
	}
}