.maskModal {
  background: rgba(255, 255, 255, 0.65) !important;
  backdrop-filter: blur(10px);
}

.modal {
  height: 498px;
  padding: 20px 20px !important;
}

.containerModal {
  height: 100%;
}

.containerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: 'Onest-SemiBold', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.containerForm {
  width: 284px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttonAuth {
  width: 100%;
  margin-top: 20px;
  background: rgba(90, 156, 255, 1);

  &:hover {
    background: rgba(90, 156, 255, 1) !important;
  }
}

.link {
  font-family: 'Onest-Medium', sans-serif;
  font-size: 16px;
  margin-top: 24px;

  button {
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
    color: var(--ant-color-primary)
  }
}