.wrapper {
  padding-top: 154px;
  height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.containerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 100%;
  margin-bottom: 38px;
  font-family: 'Onest-SemiBold', sans-serif;
  font-size: 24px;
}

.containerForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttonAuth {
  width: 100%;
  margin-top: 20px;
}

.link {
  font-family: 'Onest-Medium', sans-serif;
  font-size: 16px;
  margin-top: 20px;

  button {
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
    color: var(--ant-color-primary)
  }
}

.legalText {
  font-family: 'Onest-Regular', sans-serif;
  font-size: 16px;
  text-align: center;
  color: var(--ant-color-text-placeholder);

  width: 527px;
  margin-bottom: 50px;

  .legalTextLink {
    color: var(--ant-color-text-placeholder);
    text-decoration: underline;
  }
}