.container {
  display: flex;
  flex-direction: column;
  width: 315px;
}

.mainImage {
  width: 315px;
  height: 475px;
  border-radius: 10px;
  border: 1px solid var(--ant-color-border);
  margin-bottom: 16px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mainImageNoBorderRadius {
  border-radius: 0;
}

.thumbnails {
  position: relative;
  width: 100%;
  display: flex;
  gap: 8px;

  &Center {
    justify-content: center;
  }

  &Left {
    justify-content: flex-start;
  }

  :global {
    .swiper {
      width: calc(72px * 4 + 24px);
      height: 72px;
    }

    .swiper-slide {
      width: 72px !important;
      height: 72px;
      border-radius: 7px;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-active {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.04);
        }
      }
    }
  }
}

.arrow {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 0;

  &:hover {
    background: rgba(0, 0, 0, 0.06);
    .arrowIcon {
      color: var(--ant-color-white);
    }
  }

  &:active {
    background: rgba(0, 0, 0, 0.15);
  }
}

.arrowIcon {
  width: 12px;
  height: 12px;
  color: var(--ant-color-text-secondary);
}

.arrowOverlayPrev {
  left: 0;
}

.arrowOverlayNext {
  right: 0;
}

.arrowSidesPrev {
  left: -40px;
}

.arrowSidesNext {
  right: -40px;
}

.arrowDisabled {
  cursor: not-allowed;
  opacity: 0.25;

  &:hover {
    background: transparent;
  }
}

// Стили для модального режима
.modalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mainImage {
    width: auto;
    max-width: 600px;
    height: auto;
    max-height: 600px;
    margin: 0 auto 50px; // Добавлен отступ 50px снизу
    cursor: default; // Убираем pointer с изображения в модалке
  }

  .thumbnails {
    width: calc(
      72px * 7 + 48px + 80px
    ); // Ширина для 7 тумбнейлов + отступы + место для стрелок
    position: relative;
    justify-content: center;

    :global {
      .swiper {
        width: calc(72px * 7 + 48px);
      }
    }
  }
}
