.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 529px;
}

.messageRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.errorIcon {
  color: #FF2A2A;
  font-size: 18px; 
}

.messageCard {
  border-radius: 12px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #F1F4F6;
}

.content {
  background-color: #F1F4F6;
  padding: 9px 14px 9px 10px;

  &:last-child {
    padding-bottom: 9px;
  }
}

.text {
  color: #909090;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  word-break: break-word;
  margin: 0; 
}

.retryRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 4px;
}

.retryIcon {
  color: #FF2A2A;
  font-size: 20px; 
  cursor: pointer; 
  
  &:hover {
    opacity: 0.8; 
  }
}

.retryText {
  color: #FF2A2A;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  cursor: pointer; 
  
  &:hover {
    opacity: 0.8; 
  }
}