@use '@/shared/styles/variables' as *;

.root {
  width: 529px;
  background-color: #2A7FFF;
}

.card {
  max-width: 476px;
  display: flex;
  background-color: #2A7FFF;
  box-shadow: none;
  border-radius: 12px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 9px 10px;

  &:last-child {
    padding-bottom: 8px;
  }
}

.messageText {
  margin-right: 5px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.timeText {
  color: #F1F4F6;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  align-self: flex-end;
}