.containerCheckbox {
	display: flex;
	align-items: center;
	gap: 6px;
	margin-top: 6px;

	font-family: 'Onest-Regular', sans-serif;
	font-size: 12px;

	color: var(--ant-color-text-base);

	.checkbox {
		appearance: none;
		width: 14px;
		height: 14px;
		border-radius: 3.5px;

		background-color: #F1F4F6;

		&:checked {
			background: #2F54EB;
		}
	}
}