.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.containerGenres {
  display: flex;
  font-family: "Onest-Medium", sans-serif;
  font-size: 14px;
}

.buttonGenre {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 38px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 11px;
}

.buttonDefault {
  cursor: pointer;
  background: unset;
  color: var(--ant-color-text-placeholder);
  transition: 0.2s all ease;

  &:hover {
    transition: 0.2s all ease;
    color: var(--ant-color-primary);
  }
}

.buttonActive {
  font-size: 16px;
  pointer-events: none;
  background: var(--ant-color-primary);
  color: #ffffff;
}

.buttonTypeFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 9px;
  min-width: 159px;
  padding: 0 9px 0 12px;
  height: 38px;
  border-radius: 11px;

  cursor: pointer;
  border: none;
  font-family: "Onest-Regular", sans-serif;
  background: rgba(241, 244, 246, 80%);
  color: var(--ant-color-primary);
}

.svgDefault {
  transition: 0.2s;
}

.svgActive {
  rotate: 180deg;
}

.typeFilter {
  ul {
    backdrop-filter: blur(50px);
    margin-top: 6px !important;
  }
}
