.galleryContainer {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 315px;
}

.mainImageWrapper {
  width: 315px;
  height: 475px;
  position: relative;
}

.favoriteButtonWrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.mainSwiper {
  width: 100%;
  height: 100%;
  border: 1px solid var(--ant-color-border-secondary);
  border-radius: var(--ant-border-radius);
  overflow: hidden;

  :global {
    .swiper-wrapper {
      height: 100%;
    }

    .swiper-slide {
      height: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: var(--ant-color-white);
      width: 32px;
      height: 32px;
      border-radius: 50%;

      &::after {
        font-size: var(--ant-font-size-sm);
      }

      &.swiper-button-disabled {
        pointer-events: all;
        cursor: not-allowed;
      }
    }
  }
}

.imageContainer {
  width: 100%;
  height: 100%;
  cursor: zoom-in;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
  }
}

.thumbsSwiper {
  width: 315px !important;

  :global {
    .swiper-slide {
      width: 72px !important;
      height: 72px;
      opacity: 0.4;
      border-radius: var(--ant-border-radius-sm);
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
      }

      &-thumb-active {
        opacity: 1;
      }
    }
  }
}

.fullscreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--ant-z-index-popup-base);
  padding: 35px;
}

.fullscreenContent {
  position: relative;
  max-width: calc(100% - 70px);
  max-height: calc(100% - 70px);

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.closeButton {
  position: fixed;
  top: 35px;
  right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  width: 38px;
  height: 38px;
  background: var(--ant-color-bg-container);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  z-index: calc(var(--ant-z-index-popup-base) + 1);

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: var(--ant-color-text-placeholder);
    transform-origin: center;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    background: #e9ecee;

    &::before,
    &::after {
      background-color: var(--ant-color-text-base);
    }
  }

  &:active {
    background: #e2e5e7;
  }
}
