@use '@styles/adaptive-px' as *;

.pageContent {
  width: $apx-550;
}

.sectionList {
  margin-top: $apx-35;
  display: flex;
  flex-direction: column;
  gap: $apx-32;
}

.sectionRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: $apx-24;
}

.sectionControl {
  flex-shrink: 0;
}

.saveWrap {
  margin-top: $apx-40;
}
