@use '@styles/variables' as *;
@use '@styles/adaptive-px' as *;

.content {
  flex: 1;
  min-width: 0;
}

.label {
  margin: 0;
  font-weight: 500;
  font-size: $apx-16;
  line-height: 100%;
  letter-spacing: 0%;
  color: $text-heading;
}

.description {
  margin: $apx-4 0 0;
  font-weight: 400;
  font-size: $apx-14;
  line-height: 100%;
  letter-spacing: 0%;
  color: $text-secondary;
}
