@use '@styles/variables' as *;
@use '@styles/adaptive-px' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 14px 0;
  background: rgb(250, 250, 250, 0.8);
}

.nav {
  font-size: 16px;

  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 35px;
  }
}

.logo {
  width: 116px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.menu {
  display: flex;
  gap: 30px;

  list-style-type: none;
  margin-right: auto;
}

.link {
  text-decoration: none;
  color: $text-secondary;
  transition: 0.2s;

  &:hover {
    color: $text-heading;
  }
}

.linkActive {
  color: $text-heading;
}

.searchContainer {
  position: relative;

  svg {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;
  }

  &:focus-within svg path {
    stroke: $color-primary;
  }
}

.search {
  font-weight: 400;
  font-size: 16px;

  width: 400px;
  height: 38px;
  padding: 0 41px 0 15px;
  border-radius: 300px;

  border: 2px solid rgb(42, 127, 255, 0);
  outline: none;

  background: $background-light-gray;
  color: $text-secondary;

  &:focus {
    border: 2px solid rgb(42, 127, 255, 0.8);
  }

  &::placeholder {
    color: $text-secondary;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}

.profile {
  width: 38px;
  height: 38px;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;

  svg {
    width: 18px;
    height: 18px;
  }
}
