@use '@styles/variables' as *;

.card {
  width: 202px;
  height: 432px;
  border-radius: 10px;
  padding: 20px 20px 8px 20px;
  
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    .favorite {
      opacity: 1;
      visibility: visible;
    }
  }
}

.cover {
  position: relative;
  width: 202px;
  height: 304px;

  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.coverLink {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.favorite {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;

  display: flex;
  width: 24px;
  height: 24px;
  background: none;

  opacity: 0;
  visibility: hidden;
  cursor: pointer;

  transition: all 0.2s ease;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;

  height: 40px;
  margin-top: 8px;

  a {
    color: $text-heading;
  }
}

.author {
  font-size: 14px;
  font-weight: 500;

  margin-top: 8px;

  color: $text-accent;
}

.location {
  font-size: 14px;
  font-weight: 400;

  margin-top: 12px;

  color: $text-secondary;
}
