
$color-primary: #2A7FFF;   

$text-heading:#000000;
$text-primary: #303030;      
$text-secondary: #909090;    
$text-accent: $color-primary;

$background-primary: #ffffff; 
$background-secondary: #F1F4F6; 
$background-gradient: linear-gradient(
  180deg,
  #DFECFF 0%,
  #DFECFF 70%,
  #FFFFFF 100%
);