.linkForgotPassword {
	font-family: 'Onest-Regular', sans-serif;
	font-size: 12px;

	padding: 0;
	margin-top: 6px;

	background: none;
	color: var(--ant-color-text-placeholder);
	cursor: pointer;
	border: none;
}