.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-image {
  display: flex;
  position: relative;

  &__img {
    display: block;
    min-height: 475px;
    max-width: 313px;
    border-radius: 10px;
    border: 1px solid #9e9e9e26;
    object-fit: contain;
    cursor: pointer;
  }

  &__like-btn {
    position: absolute;
    top: 13px;
    left: 12px;
    background-color: #909090;
  }

  .liked {
    background-color: #2a7fff;
  }
}
