.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 620px;
}

.annotation {
  :global(h3.ant-typography) {
    margin: 10px 0 15px;
    font-family: "Onest-Regula", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: var(--ant-color-text);
  }

  .annotationText {
    font-family: "Literata-Regular", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: var(--ant-color-text);
  }

  .expandButton {
    font-family: "Literata-Regular", serif;
    color: var(--ant-color-primary);
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0;
}

.detailItem {
  display: flex;
  gap: 20px;

  :global(.ant-typography) {
    font-family: "Onest-Regular", sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  .label {
    width: 120px;
    color: var(--ant-color-text-placeholder);
  }

  .value {
    color: var(--ant-color-text);
  }
}
