.containerContent {
	margin-top: 146px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title {
	margin-bottom: 20px;
	width: 538px;

	font-family: 'Onest-SemiBold', sans-serif;
	text-align: center;
	font-size: 24px;
}

