@use '@styles/variables' as *;

.page {
  width: 100%;
  min-height: 834px;
  padding-top: 35px;

  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: $text-heading;
}

.empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-66px);
}

.emptyInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.iconWrap {
  width: 48px;
  height: 48px;
  
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: rgba($color-primary, 0.15);
  margin-bottom: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
}

.emptyTitle {
  font-size: 24px;
  font-weight: 500;
  color: $text-heading;
  margin-bottom: 2px;
}

.emptySubtitle {
  font-size: 14px;
  font-weight: 400;
  color: $text-secondary;
}

.inlineIcon {
  width: 20px;
  height: 18px;
  vertical-align: middle;
  margin-left: 6px;

  color: $text-secondary;
  opacity: 0.4;
  display: inline-block;
}

.inlineIcon path {
  stroke: currentColor;
  fill: currentColor;
}

.list {
  padding-top: 35px;
}
