@use '@styles/variables' as *;
@use '@styles/adaptive-px' as *;

$field-bg: $background-light-gray;

.input {
  width: $apx-300;
  height: $apx-38;
  padding: 0 $apx-16;
  box-sizing: border-box;
  border: $apx-1 solid $field-bg;
  border-radius: $apx-12;
  background: $field-bg;
  font-size: $apx-14;
  line-height: 100%;
  color: $text-primary;

  &::placeholder {
    color: $text-secondary;
  }

  &:read-only {
    cursor: default;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border-color: $color-primary;
  }
}

.inputMedium {
  font-weight: 500;
}
