@use '@styles/adaptive-px' as *;

.container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 35px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 988px;
    padding: 0 20px;
  }
}

@media (max-width: 450px) {
  .container {
    max-width: 400px;
    padding: 0 16px;
  }
}
