@use '@styles/adaptive' as *;

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 35px;

  @include desktop {
    max-width: 1028px;
    padding: 0 20px;
  }

  @include mobile {
    max-width: 432px;
    padding: 0 16px;
  }
}
