@use '@styles/variables' as *;

.wrapper {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid $background-light-gray;

  .label {
    display: flex;
    flex-direction: column;
    min-height: 40px;
    flex-grow: 1;
    gap: 2px;

    .title {
      font-size: 16px;
      font-weight: 500;
    }

    .description {
      font-size: 14px;
      color: $text-secondary;
    }
  }

  .input,
  .textarea {
    border: none;
    background-color: $background-light-gray;
    font-size: 16px;
    flex-grow: 1;
  }
}

.wrapper.horizontal {
  gap: 25px;

  .label {
    max-width: 225px;
  }

  .input,
  .textarea {
    padding: 8px 15px 8px 14px;
    max-width: 300px;
    border-radius: 9px;
    caret-color: $color-primary;

    &:focus {
      outline-color: rgba(42, 127, 255, 0.8);
    }
  }
}

.wrapper.vertical {
  flex-direction: column;
  gap: 20px;

  .input,
  .textarea {
    padding: 12px 10px;
    border-radius: 7px;
    min-height: 100px;
    caret-color: $color-primary;

    &:focus {
      outline-color: rgba(42, 127, 255, 0.8);
    }
  }
}

.textarea {
  resize: none;
  box-sizing: border-box;
}
