@use '@styles/variables' as *;

.root {
  position: relative;
}

.root[data-disabled='true'] {
  opacity: 0.6;
}

.dropdown {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  width: 100%;
  box-shadow: 0 7px 22px rgba(0, 0, 0, 0.25);
  z-index: 50;
  overflow: hidden;
}
