@import "@styles/variables.scss";
@import "@styles/adaptive-px.scss";

.details {
    &__name {
        font-weight: 600;
        font-size: $apx-32;
        padding: 0;
        margin: 0;
        margin-bottom: $apx-14;
    }
    &__stats {
        display: flex;
        align-items: center;
        gap: $apx-10;
        font-weight: 500;
        margin-bottom: $apx-14;
        svg {
            margin-top: -5px;
        }
    }
    &__descr {
        font-family:
            Literata,
            Literata Fallback;
        font-weight: 400;
        max-width: $apx-450;
        // font-size: 16px;
    }
}
