
.settingsBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93.69%;
  gap: 20px;
}

.settingsItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F1F4F6;
  padding: 20px 0;
}

.settingsItemBlockOfTitle {
  display: flex;
  flex-direction: column;
}

.settingsTitle {
  font-weight: 500;
}

.settingsCaption {
  font-size: 14px;
  color: #909090;
}

.blockButton {
  display: flex;
  justify-content: end;
}