body {
	margin: 0;
}

.ant-form-item-explain-error {
   margin-top: 3px;
}

.ant-input-password-icon {
  display: flex;
}

@font-face {
  font-family: "Literata-Medium";
  src: url("./fonts/Literata-Medium.woff") format("woff");
}

@font-face {
  font-family: "Onest-Medium";
  src: url("./fonts/Onest-Medium.woff") format("woff");
}

@font-face {
  font-family: "Onest-Regular";
  src: url("./fonts/Onest-Regular.woff") format("woff");
}

@font-face {
  font-family: "Onest-SemiBold";
  src: url("./fonts/Onest-SemiBold.woff") format("woff");
}

