@import "@styles/variables.scss";
@import "@styles/adaptive-px.scss";

.avatar {
    width: $apx-150;
    height: $apx-150;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}
