name: 'Auto Assign'

permissions:               
  pull-requests: write       
  contents: read

on:
  pull_request:
    types: [opened, ready_for_review]

jobs:
  add-reviews:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v2.0.1
        with:
          configuration-path: '.github/auto-assign.yml'