---
name: DEV Check

on:
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main
    types: [opened, ready_for_review]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint --max-warnings 0

  fsd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm run fsd-check

  assign-reviewers:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/auto-assign-action@v1.0.0
        with:
          configurationPath: ".github/auto-assign.yml"